/* App.css */

.app-container {
  display: flex;
  height: 100vh; 
}

.left-section {
  width: 60%;
  border-right: 1px solid #000; 
  padding: 20px;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  margin-bottom: 10px;
}

.object {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

string-list {
  max-height: 100px; 
  overflow-y: auto; 
  border: 1px solid #ccc; 
  padding: 10px; 
}

.string-item {
  margin-bottom: 10px; 
}